#root {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
}

.columnHero {
  height: 80vh;
  width: 100vw;
  /* border: 1px solid red; */
}

.bg-darker {
  background-color: #0b0b0b;
}